{% extends 'admin_front_page/base.html' %}

{% block content %}
<h1>Book List</h1>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Sex</th>
        <th>Last_login</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for each_user in all_users %}
    <tr>
        <td>{{ each_user.username }}</td>
        <td>{{ each_user.email }}</td>
        <td>{{ each_user.sex }}</td>
        <td>{{ each_user.last_login }}</td>
        <td>
            <a href="{% url 'admin_borrow_record' each_user.id %}" class="btn btn-success btn-sm me-2">他的借阅</a>
            <a href="{% url 'admin_book_shelf_list' each_user.id %}" class="btn btn-success btn-sm me-2">他的书架</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
