{% extends 'user_front_page/base.html' %}

{% block content %}

<head>
    <title>俄罗斯方块</title>
</head>

<body style="background-color: black;">
    <canvas id="tetrisCanvas" width="800" height="600"></canvas>
    <div id="scoreDisplay"
        style="color: rgb(113, 36, 214); font-size: 24px; position: absolute; top: 80px; left: 20px;">
    </div>
    <!-- Custom dialog box for game over -->
    <div id="gameOverDialog"
        style="display: none; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white; padding: 20px; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);">
        <p>Game Over!</p>
        <p>Do you want to retry?</p>
        <button id="confirmBtn">Confirm</button>
        <button id="retryBtn">Retry</button>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // 获取画布和上下文
        const canvas = document.getElementById('tetrisCanvas');
        const ctx = canvas.getContext('2d');
        const BLOCK_SIZE = JSON.parse('{{ BLOCK_SIZE | safe }}');
        const SHAPES = JSON.parse('{{ SHAPES_DATA | safe }}');
        const COLORS = JSON.parse('{{ COLORS_DATA | safe }}');
        const play_matrix = JSON.parse('{{ PLAY_MATRIX | safe }}');
        const WINDOW_WIDTH = JSON.parse('{{ WINDOW_WIDTH | safe }}');
        const WINDOW_HEIGHT = JSON.parse('{{ WINDOW_HEIGHT | safe }}');
        const PLAY_WIDTH = JSON.parse('{{ PLAY_WIDTH | safe }}');
        const PLAY_HEIGHT = JSON.parse('{{ PLAY_HEIGHT | safe }}');
        var COLS = PLAY_HEIGHT / BLOCK_SIZE;
        var ROWs = PLAY_WIDTH / BLOCK_SIZE;
        const PLAY_X = JSON.parse('{{ PLAY_X | safe }}');
        const PLAY_Y = JSON.parse('{{ PLAY_Y | safe }}');
        let gameInterval; // 定义定时器变量
        var score = JSON.parse('{{score|safe}}');

        // 初始化游戏并启动交互
        function initGame() {
            // 初始化游戏区域和方块
            var confirmBtn = document.getElementById('confirmBtn');
            var retryBtn = document.getElementById('retryBtn');
            let game_over = false; // 定义游戏状态变量
            let current_piece = null;

            function rgbToCssColor(rgbArray) {
                const [r, g, b] = rgbArray;
                return `rgb(${r}, ${g}, ${b})`;
            }

            function drawBlock(x, y, color) {
                ctx.fillStyle = rgbToCssColor(COLORS[color]);
                ctx.fillRect(PLAY_X + x * BLOCK_SIZE, PLAY_Y + y * BLOCK_SIZE, BLOCK_SIZE, BLOCK_SIZE);
                ctx.strokeStyle = 'blue';
                ctx.strokeRect(PLAY_X + x * BLOCK_SIZE, PLAY_Y + y * BLOCK_SIZE, BLOCK_SIZE, BLOCK_SIZE);
            }

            // 绘制游戏区域
            function drawGameArea(matrix) {
                // 绘制画布边框
                ctx.strokeStyle = 'black'; // 设置边框颜色为白色
                ctx.lineWidth = 1; // 设置边框线宽为2像素
                ctx.strokeRect(PLAY_X - 1, PLAY_Y - 1, PLAY_WIDTH + 1, PLAY_HEIGHT + 1);
                for (let i = 0; i < matrix.length; i++) {
                    for (let j = 0; j < matrix[0].length; j++) {
                        if (matrix[i][j]) {
                            drawBlock(j, i, matrix[i][j]);
                        }
                    }
                }
            }
            // 更新分数显示
            function updateScoreDisplay(score) {
                const scoreDisplay = document.getElementById('scoreDisplay');
                scoreDisplay.innerHTML = 'Score: ' + score;
            }
            // 绘制当前方块
            function drawPiece(piece) {
                for (let i = 0; i < piece['shape'].length; i++) {
                    for (let j = 0; j < piece['shape'][0].length; j++) {
                        if (piece['shape'][i][j] === 1) {
                            drawBlock(piece['x'] + j, piece['y'] + i, piece['color']);
                        }
                    }
                }
            }

            // 创建新的方块
            function create_new_piece() {
                const shape = SHAPES[Math.floor(Math.random() * SHAPES.length)];
                const piece = {
                    'shape': shape,
                    'color': Math.floor(Math.random() * (COLORS.length - 1)) + 1,
                    'x': (COLS / 2) - Math.floor(shape[0].length / 2),
                    'y': 0
                };
                return piece;
            }

            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            // Function to show the game over dialog
            function showGameOverDialog() {
                // 设置游戏状态为结束
                const dialog = document.getElementById('gameOverDialog');
                dialog.style.display = 'block';
                // 清除定时器，防止继续发送更新请求
                clearInterval(gameInterval);

                // Handle the Confirm button click
                confirmBtn.addEventListener('click', function () {
                    // Redirect to the /front page
                    window.location.href = '/relax_moment';
                });

                // Handle the Retry button click
                retryBtn.addEventListener('click', function () {
                    debugger;
                    // Reload the current page to start a new game
                    ctx.clearRect(0, 0, WINDOW_WIDTH, WINDOW_HEIGHT);
                    // window.location.reload();
                    game_over = false;
                    drawGameArea(play_matrix);
                });
            }
            // 处理键盘事件
            document.addEventListener('keydown', function (event) {
                const key = event.key;
                console.log('Key pressed:', key);
                sendUpdateToServer(key);
            });
            // 请求更新游戏状态
            function sendUpdateToServer(key) {
                if (game_over) {
                    showGameOverDialog(); // 如果游戏结束，不再向服务器发送请求
                }
                // 获取Cookie中的CSRF令牌
                const csrfToken = getCookie('csrftoken');
                $.ajax({
                    type: 'POST',
                    url: '/update_game_state/',
                    data: { "key_event": key, 'current_piece': current_piece },
                    dataType: 'json',
                    headers: {
                        'X-CSRFToken': csrfToken
                    },
                    success: function (data) {
                        game_over = JSON.parse(data.game_over);
                        // 服务器返回更新后的游戏数据
                        // 根据data中的内容来更新游戏画布
                        // 在这里，你可以使用data.play_matrix来更新游戏区域
                        // 使用data.current_piece来更新当前方块的位置
                        // 使用data.score来更新得分信息
                        if (data.game_over) {
                            // 清空整个页面
                            showGameOverDialog();
                            // 如果需要重新开始游戏，可以重新加载页面
                            // window.location.reload();
                        } else {
                            // 清空画布
                            ctx.clearRect(0, 0, WINDOW_WIDTH, WINDOW_HEIGHT);
                            // 绘制游戏区域
                            console.log("data.play_matrix:", data.play_matrix)
                            drawGameArea(data.play_matrix);
                            // 绘制当前方块
                            const currentPiece = data.current_piece;
                            console.log("currentPiece:", currentPiece);
                            drawPiece(currentPiece);
                            score = data.score
                        }
                        updateScoreDisplay(score);
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            }

            // 启动游戏
            current_piece = create_new_piece();
            ctx.clearRect(0, 0, WINDOW_WIDTH, WINDOW_HEIGHT);

            // 定时器，模拟方块的定时下落
            const fallingInterval = 1000; // 下落间隔时间（毫秒）
            gameInterval = setInterval(function () {
                if (!game_over) {
                    // 向服务器发送向下的键盘事件
                    sendUpdateToServer('ArrowDown');
                }
            }, fallingInterval);
        }
        document.addEventListener('DOMContentLoaded', function () {
            initGame();
        });
    </script>
</body>
{% endblock %}