{% extends 'admin_front_page/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>Book List</h1>
    </div>
    <div class="col-md-4 text-end">
        <!-- 添加筛选框 -->
        <form method="get" class="form-inline my-3">
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" name="search" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>
    </div>
</div>
<a href="{% url 'book_create' %}" class="btn btn-primary my-3">Add Book</a>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function filterBooks() {
        var publisherFilter = document.getElementById("publisherFilter").value;
        var bookClassFilter = document.getElementById("bookClassFilter").value;

        $.ajax({
            url: "{% url 'admin_book_list' %}",
            type: "GET",
            data: {
                publisher: publisherFilter,
                book_class: bookClassFilter
            },
            success: function(response) {
    // 更新表格内容
    $("#bookTable tbody").html($(response).find("#bookTable tbody").html());
},


            error: function(xhr, status, error) {
                // 处理错误情况
            }
        });
    }


</script>

<table class="table" id="bookTable">
    <!-- 表头和表格内容 -->
    <thead>
    <tr>
        <th scope="col">图书封面</th>
        <th>书名</th>
        <th>作者</th>
        <th>当前数量</th>
        <th>
            <label for="publisherFilter">出版社:</label>
            <select id="publisherFilter" class="form-select form-select-sm" style="width: 50px;"
                    onchange="filterBooks()">
                <option value="">All</option>
                {% for publisher in publishers %}
                {% if publisher == selected_publisher %}
                <option value="{{ publisher }}" selected>{{ publisher }}</option>
                {% else %}
                <option value="{{ publisher }}">{{ publisher }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </th>

        <th>
            <label for="bookClassFilter">分类</label>
            <select id="bookClassFilter" class="form-select form-select-sm" style="width: 50px;"
                    onchange="filterBooks()">
                <option value="">All</option>
                {% for bookClass in bookClasses %}
                {% if bookClass == selected_bookClass %}
                <option value="{{ bookClass }}" selected>{{ bookClass }}</option>
                {% else %}
                <option value="{{ bookClass }}">{{ bookClass }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for book in books %}
    <tr>
        <td><img src="{{ book.book_image.url }}" width="60"></td>
        <td>{{ book.book_name }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.current_number }}</td>
        <td>{{ book.publisher }}</td>
        <td>{{ book.book_classification }}</td>
        <td>
            <a href="{% url 'book_detail' book.id %}" class="btn btn-success btn-sm me-2">View</a>
            <a href="{% url 'book_update' book.id %}" class="btn btn-warning btn-sm me-2">Edit</a>
            <a href="{% url 'book_delete' book.id %}" class="btn btn-danger btn-sm">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
