<!DOCTYPE html>
<html>

<head>
    <title>Snake Game</title>
    <style>
        canvas {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <h1>Snake Game</h1>

    <canvas id="gameCanvas" width="640" height="480"></canvas>
    <div id="scoreDisplay"
        style="color: rgb(255, 255, 255); font-size: 24px; position: absolute; top: 20px; left: 20px;"></div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const canvas = document.getElementById('gameCanvas');
            const context = canvas.getContext('2d');
            debugger;
            const WINDOW_WIDTH = JSON.parse('{{ WINDOW_WIDTH|safe }}');
            const WINDOW_HEIGHT = JSON.parse('{{ WINDOW_HEIGHT|safe }}');
            const MOVE_SPEED = JSON.parse('{{ move_speed|safe }}');
            const SNAKE_SIZE = JSON.parse('{{ snake_size|safe }}');
            const Origin_foods = JSON.parse('{{ Origin_foods|safe }}');
            const Snakes = JSON.parse('{{ Snakes|safe }}');
            let x = WINDOW_WIDTH / 2;
            let y = WINDOW_HEIGHT / 2;
            let game_over = false;

            // 更新分数显示
            function updateScoreDisplay(score) {
                const scoreDisplay = document.getElementById('scoreDisplay');
                scoreDisplay.innerHTML = 'Score: ' + score;
            }

            function drawSnake(Snakes) {
                for (let i = 0; i < Snakes.length; i++) {
                    context.fillStyle = 'green';
                    context.fillRect(Snakes[i].x, Snakes[i].y, SNAKE_SIZE, SNAKE_SIZE);
                }
            }

            function drawFood(foods) {
                for (let i = 0; i < foods.length; i++) {
                    context.fillStyle = 'red';
                    context.fillRect(foods[i].x, foods[i].y, SNAKE_SIZE, SNAKE_SIZE);
                }
            }

            // 处理键盘事件
            document.addEventListener('keydown', function (event) {
                const key = event.key;
                sendUpdateToServer(key);
            });

            function sendUpdateToServer(key) {
                if (game_over) {
                    return;
                }
                const csrfToken = getCookie('csrftoken');
                $.ajax({
                    type: 'POST',
                    url: '/update_snake_state/',
                    data: { "key_event": key },
                    dataType: 'json',
                    headers: {
                        'X-CSRFToken': csrfToken
                    },
                    success: function (data) {
                        if (data.game_over) {
                            window.location.reload();
                        } else {
                            context.clearRect(0, 0, WINDOW_WIDTH, WINDOW_HEIGHT);
                            drawSnake(data.snakes);
                            drawFood(data.foods);
                            updateScoreDisplay(data.snakes.length);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            }

            // 获取Cookie
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            // 绘制初始蛇和食物
            drawSnake(Snakes);
            drawFood(Origin_foods);

            // 启动游戏循环定时器
            setInterval(() => {
                sendUpdateToServer("");  // 发送空按键事件来更新游戏状态
            }, MOVE_SPEED);
        });
    </script>
</body>

</html>