{% extends 'user_front_page/base.html' %}

{% block content %}
<table class="table" id="gameTable">
    <thead>
        <tr>
            <th scope="col">game</th>
            <th scope="col">开始</th>
            <th scope="col">操作</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ song.song_title }}</td>
            <td>{{ song.song_author }}</td>
            <td>{{ song.song_classification }}</td>
            <td>{{ song.song_duration }}</td>

            <td>
                <audio id="audio-{{ song.id }}">
                    <source src="{{ song.audio_file.url }}" type="audio/mpeg">
                </audio>
                <button id="play-button-{{ song.id }}" onclick="playSong('{{ song.id }}')">播放</button>
                <button id="add_to_favorite-{{ song.id }}" onclick="handleFavorite('{{ song.id }}')">喜欢</button>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}