<!DOCTYPE HTML>
<html>
<head>
	{% load static %}
	<meta charset="UTF-8" />
	<title>Sliding Puzzle - Game Dolphin</title>
	<script>
		const STATIC_SLIDING_PUZZLE= "{% static 'sliding_puzzle' %}"
	</script>
	<script src="{% static 'sliding_puzzle/phaser.min.js' %}"></script>
	<script src="{% static 'sliding_puzzle/Boot.js' %}"></script>
	<script src="{% static 'sliding_puzzle/Preloader.js' %}"></script>
	<script src="{% static 'sliding_puzzle/Game.js' %}"></script>
</head>
<body style="margin:0px;" bgcolor="#000000">

<div id="gameContainer"></div>

<script type="text/javascript">

window.onload = function() {

	var game = new Phaser.Game(360,600, Phaser.AUTO, 'gameContainer');

	game.state.add('Boot', BasicGame.Boot);
	game.state.add('Preloader', BasicGame.Preloader);
	// game.state.add('MainMenu', BasicGame.MainMenu);
	game.state.add('Game', BasicGame.Game);

	game.state.start('Boot');

};

</script>

</body>
</html>