{% extends 'user_front_page/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>Book List</h1>
    </div>
    <div class="col-md-4 text-end">
        <!-- 添加筛选框 -->
        <form method="get" class="form-inline my-3">
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" name="search" class="form-control" placeholder="搜索 书名/作者">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>
    </div>
</div>

<table class="table" id="onlineBookTable">
    <thead>
    <tr>
        <th scope="col">图书封面</th>
        <th scope="col">图书名称</th>
        <th scope="col">图书作者</th>
        <th>
            <label for="publisherFilter">出版社:</label>
            <select id="publisherFilter" class="form-select form-select-sm" style="width: 50px;"
                    onchange="filterBooks()">
                <option value="">All</option>
                {% for publisher in publishers %}
                {% if publisher == selected_publisher %}
                <option value="{{ publisher }}" selected>{{ publisher }}</option>
                {% else %}
                <option value="{{ publisher }}">{{ publisher }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </th>

        <th>
            <label for="bookClassFilter">分类</label>
            <select id="bookClassFilter" class="form-select form-select-sm" style="width: 50px;"
                    onchange="filterBooks()">
                <option value="">All</option>
                {% for bookClass in bookClasses %}
                {% if bookClass == selected_bookClass %}
                <option value="{{ bookClass }}" selected>{{ bookClass }}</option>
                {% else %}
                <option value="{{ bookClass }}">{{ bookClass }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </th>
        <th scope="col">操作</th>
    </tr>
    </thead>
    <tbody>
    {% for book in page_obj %}
    <tr>
        <td><img src="{{ book.book_image.url }}" width="100"></td>
        <td>{{ book.book_name }}</td>
        <td>{{ book.book_author }}</td>
        <td>{{ book.book_publisher }}</td>
        <td>{{book.book_classification}}</td>
        <td>
            <a href="{% url 'read_online_book' book.id %}" class="btn btn-success btn-sm me-2 btn-fixed-size">Read</a>
            <form action="{% url 'add_book_shelf' book.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-success btn-sm me-2 btn-fixed-size">Add to BookShelf</button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% if page_obj.paginator.num_pages > 1 %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <!-- 在页面上生成一个超链接，点击超链接时会跳转到指定的 URL，并保留当前页面的查询参数 -->
            <a href="?page=1{% if request.GET.book_publisher %}&book_publisher={{ request.GET.book_publisher }}{% endif %}{% if request.GET.book_class %}&book_class={{ request.GET.book_class }}{% endif %}">&laquo; 第一页</a>
            <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.book_publisher %}&book_publisher={{ request.GET.book_publisher }}{% endif %}{% if request.GET.book_class %}&book_class={{ request.GET.book_class }}{% endif %}">上一页</a>
        {% endif %}

        <span class="current-page">{{ page_obj.number }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% if request.GET.book_publisher %}&book_publisher={{ request.GET.book_publisher }}{% endif %}{% if request.GET.book_class %}&book_class={{ request.GET.book_class }}{% endif %}">下一页</a>
            <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.book_publisher %}&book_publisher={{ request.GET.book_publisher }}{% endif %}{% if request.GET.book_class %}&book_class={{ request.GET.book_class }}{% endif %}">最后一页 &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function filterBooks() {
        var publisherFilter = document.getElementById("publisherFilter").value;
        var bookClassFilter = document.getElementById("bookClassFilter").value;

        $.ajax({
            url: "{% url 'user_online_book_list' %}",
            type: "GET",
            data: {
                book_publisher: publisherFilter,
                book_class: bookClassFilter
            },
            success: function (response) {
                // 更新表格内容
                $("#onlineBookTable tbody").html($(response).find("#onlineBookTable tbody").html());
                var cur_url="{% url 'user_online_book_list' %}?";
                if (publisherFilter&&bookClassFilter){
                    cur_url+="book_publisher="+publisherFilter+"&book_class="+bookClassFilter
                }else{
                    if (publisherFilter){cur_url+="book_publisher="+publisherFilter}
                    if (bookClassFilter){cur_url+="book_class="+bookClassFilter}
                }
                // 通过 JavaScript 将当前页面重定向到新的 URL，以实现动态更新页面内容和查询参数的效果
                window.location.href = cur_url;
            },
            error: function (xhr, status, error) {
                // 处理错误情况
            }
        });
    }
</script>

{% endblock %}
