{% extends 'user_front_page/base.html' %}

{% block content %}
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>EPUB.js Demo</title>
    <script src="{% static 'epub_reader/jquery.min.js' %}"></script>
    <script src="{% static 'epub_reader/jszip.min.js' %}"></script>
    <script src="{% static 'epub_reader/Blob.min.js' %}"></script>
    <script src="{% static 'epub_reader/deflate.min.js' %}"></script>
    <script src="{% static 'epub_reader/inflate.min.js' %}"></script>
    <script src="{% static 'epub_reader/epub.js' %}"></script>
    <link rel="stylesheet" href="{% static 'epub_reader/bootstrap.min.css' %}">
</head>

<style>
    * {
        margin: 0;
        padding: 0;
    }
    #read {
        width: 100%;
        height: 80vh; /* 高度占据屏幕的80% */
        overflow: hidden; /* 隐藏溢出内容，确保显示一页 */
    }
    #controls {
        margin: 20px auto;
        text-align: center;
    }
</style>

<body>
<div style="width: 100%;">
    <div id="read"></div>

    <div id="controls">
        背景色: <input type="color" id="backcolor" value="#ffffff" onchange="backcolor()" >
        字体颜色: <input type="color" id="textcolor" value="#000000" onchange="backcolor()">
        <button class="btn btn-primary" id="prevPageBtn">上一页</button>
        <button class="btn btn-primary" id="nextPageBtn">下一页</button>
        <button class="btn btn-primary" id="xiaofont">字体缩小</button>
        <button class="btn btn-primary" id="dafont">字体加大</button>
        <a class="btn btn-primary" href="bookfileview.action">返回菜单</a>
    </div>
</div>

<script>
    function backcolor() {
        var theme = {
            name: "custom",
            style: {
                body: {
                    color: $("#textcolor").val(),
                    background: $("#backcolor").val(),
                },
            },
        };
        themes.register(theme.name, theme.style);
        themes.select(theme.name);
    }

    var fontsize = 16;

    $("#dafont").click(function () {
        fontsize += 1;
        themes.fontSize(fontsize + "px");
    });

    $("#xiaofont").click(function () {
        fontsize -= 1;
        themes.fontSize(fontsize + "px");
    });

    $("#prevPageBtn").click(function () {
        rendition.prev();
    });

    $("#nextPageBtn").click(function () {
        rendition.next();
    });

    var epubFileUrl = "{{ epub_file_url }}";
    var book = ePub(epubFileUrl);

    var rendition = book.renderTo("read", {
        spread: "none",  // 确保只显示一页
        width: "100%",
        height: "100%"
    });

    var themes = rendition.themes;
    rendition.display();

    book.ready.then(function () {
        var toc = book.navigation.toc;
        console.log(toc);
    });
</script>
</body>
{% endblock %}
