{% extends 'user_front_page/base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Borrow Records Detail</h1>
<!--    <a href="{% url 'book_front_page' %}" class="btn btn-secondary">Back to Book_List</a>-->
    <table class="table">
        <thead>
        <tr>
            <th scope="col">图书名称</th>
            <th scope="col">作者</th>
            <th scope="col">出版社</th>
            <th scope="col">归还截至日期</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ record.book_name }}</td>
            <td>{{ record.book_author }}</td>
            <td>{{ record.publisher }}</td>
            <td>{{ record.record_user_borrow_deadline }}</td>
            <td>
                <a href="{% url 'user_borrow_record' record.record_user_id.id %}" class="btn btn-secondary">Back to
                    List</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
