{% extends 'user_front_page/base.html' %}

{% block content %}
<table class="table" id="gameTable">
    <thead>
    <tr>
        <th scope="col">game</th>
        <th scope="col">开始</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <p id="pacman">吃豆人</p>
        </td>
        <td>
            <!-- 在这里添加按钮链接，点击后跳转到/tetris页面 -->
            <a href="{% url 'pacman' %}">
                <button>开始</button>
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <p id="tetris">俄罗斯方块</p>
        </td>
        <td>
            <!-- 在这里添加按钮链接，点击后跳转到/tetris页面 -->
            <a href="{% url 'tetris' %}">
                <button>开始</button>
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <p id="spaceship_shoot">飞船射击</p>
        </td>
        <td>
            <!-- 在这里添加按钮链接，点击后跳转到/tetris页面 -->
            <a href="{% url 'spaceship_shoot' %}">
                <button>开始</button>
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <p id="snake">贪吃蛇</p>
        </td>
        <td>
            <!-- 在这里添加按钮链接，点击后跳转到/tetris页面 -->
            <a href="{% url 'snake' %}">
                <button>开始</button>
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <p id="game2048">2048</p>
        </td>
        <td>
            <!-- 在这里添加按钮链接，点击后跳转到/tetris页面 -->
            <a href="{% url 'game2048' %}">
                <button>开始</button>
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <p id="sliding_puzzle">华容道</p>
        </td>
        <td>
            <!-- 在这里添加按钮链接，点击后跳转到/tetris页面 -->
            <a href="{% url 'sliding_puzzle' %}">
                <button>开始</button>
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <p id="super_mario">超级玛丽</p>
        </td>
        <td>
            <!-- 在这里添加按钮链接，点击后跳转到/tetris页面 -->
            <a href="{% url 'super_mario' %}">
                <button>开始</button>
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <p id="racing">赛车</p>
        </td>
        <td>
            <!-- 在这里添加按钮链接，点击后跳转到/tetris页面 -->
            <a href="{% url 'racing' %}">
                <button>开始</button>
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <p id="minesweeper">扫雷</p>
        </td>
        <td>
            <!-- 在这里添加按钮链接，点击后跳转到/tetris页面 -->
            <a href="{% url 'minesweeper' %}">
                <button>开始</button>
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <p id="breakthrough">JS闯关</p>
        </td>
        <td>
            <!-- 在这里添加按钮链接，点击后跳转到/tetris页面 -->
            <a href="{% url 'breakthrough' %}">
                <button>开始</button>
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <p id="build_tower">叠塔楼</p>
        </td>
        <td>
            <!-- 在这里添加按钮链接，点击后跳转到/tetris页面 -->
            <a href="{% url 'build_tower' %}">
                <button>开始</button>
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <p id="crossing_the_bridge">圣诞老人过桥</p>
        </td>
        <td>
            <!-- 在这里添加按钮链接，点击后跳转到/tetris页面 -->
            <a href="{% url 'crossing_the_bridge' %}">
                <button>开始</button>
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <p id="cut_cubes">切方块</p>
        </td>
        <td>
            <!-- 在这里添加按钮链接，点击后跳转到/tetris页面 -->
            <a href="{% url 'cut_cubes' %}">
                <button>开始</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
{% endblock %}