{% extends 'admin_front_page/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Book Shelf Detail</h1>
<!--    <a href="{% url 'users_manage' %}" class="btn btn-secondary">Back to Book_List</a>-->
    <table class="table">
        <thead>
        <tr>
            <th scope="col">图书唯一标识</th>
            <th scope="col">图书名称</th>
            <th scope="col">图书作者</th>
            <th scope="col">出版社</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><img src="{{ bookshelf.book_image.url }}" width="100"></td>
            <td>{{ bookshelf.book_name }}</td>
            <td>{{ bookshelf.book_author }}</td>
            <td>{{ bookshelf.book_publisher }}</td>
            <td>
                <a href="{% url 'admin_book_shelf_list' bookshelf.book_shelf_user_id.id %}" class="btn btn-secondary">Back to List</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
