{% extends 'user_front_page/base.html' %}

{% block content %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
{% load static %}

<head>
    <!-- 其他头部内容 -->
    <!-- 引入 Howler.js CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"></script>
</head>
<div class="row">
    <div class="col-md-8">
        <h1>Song List</h1>
    </div>
    <div class="col-md-4 text-end">
        <!-- 添加筛选框 -->
        <form method="get" class="form-inline my-3">
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" name="search" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>
    </div>
</div>
<style>
    #current-song-title {
        display: inline-block;
        width: 200px;
        /* 设置固定的宽度，可以根据需要进行调整 */
        overflow: hidden;
        /* 当内容超过固定宽度时隐藏溢出部分 */
        white-space: nowrap;
        /* 不换行 */
        text-overflow: ellipsis;
        /* 当内容溢出时使用省略号表示 */
    }
</style>


<table class="table" id="songTable">
    <thead>
        <tr>
            <th scope="col">封面</th>
            <th scope="col">歌名</th>
            <th>
                <label for="song_author_Filter">歌手:</label>
                <select id="song_author_Filter" class="form-select form-select-sm" style="width: 50px;"
                    onchange="filterSong()">
                    <option value="">All</option>
                    {% for song_author in song_authors %}
                    {% if song_author == selected_song_author %}
                    <option value="{{ song_author }}" selected>{{ song_author }}</option>
                    {% else %}
                    <option value="{{ song_author }}">{{ song_author }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </th>
            <th scope="col">专辑</th>
            <th scope="col">时长</th>
            <th scope="col">操作</th>
        </tr>
    </thead>
    <tbody>
        {% for song in page_obj %}
        <tr>
            <td>
                <img src="{{ song.song_image.url }}" width="100"
                    onerror="this.onerror=null; this.src='{% static 'avatar/default.jpg' %}';">
            </td>
            <td>{{ song.song_title }}</td>
            <td>{{ song.song_author }}</td>
            <td>{{ song.song_classification }}</td>
            <td>{{ song.song_duration }}</td>
            <td>
                <audio id="audio-{{ song.id }}">
                    <source src="{{ song.audio_file.url }}" type="audio/mpeg">
                </audio>
                <button id="play-button-{{ song.id }}" onclick="playCurSong('{{ song.id }}')">播放</button>
                <a href="{% url 'delete_favorite_music' song.id %}" class="btn btn-danger btn-sm">Delete</a>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if page_obj.paginator.num_pages > 1 %}
<div id="favorite-alert"
    style="display:none; position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); padding:20px; background-color:#4CAF50; color:white; border-radius:5px;">
    歌曲已成功添加到收藏列表！
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a
            href="?page=1{% if request.GET.song_author %}&song_author={{ request.GET.song_author }}{% endif %}{% if request.GET.song_classification %}&song_classification={{ request.GET.song_classification }}{% endif %}">&laquo;
            第一页</a>
        <a
            href="?page={{ page_obj.previous_page_number }}{% if request.GET.song_author %}&song_author={{ request.GET.song_author }}{% endif %}{% if request.GET.song_classification %}&song_classification={{ request.GET.song_classification }}{% endif %}">上一页</a>
        {% endif %}

        <span class="current-page">{{ page_obj.number }}</span>

        {% if page_obj.has_next %}
        <a
            href="?page={{ page_obj.next_page_number }}{% if request.GET.song_author %}&song_author={{ request.GET.song_author }}{% endif %}{% if request.GET.song_classification %}&song_classification={{ request.GET.song_classification }}{% endif %}">下一页</a>
        <a
            href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.song_author %}&song_author={{ request.GET.song_author }}{% endif %}{% if request.GET.song_classification %}&song_classification={{ request.GET.song_classification }}{% endif %}">最后一页
            &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}

<div id="player" style="display: flex; align-items: center; margin-top: 20px;">
    <!-- 上一首按钮 -->
    <button id="previous-button" onclick="playPreviousSong()" class="player-button"
        style="padding: 10px; font-size: 16px; cursor: pointer;">
        <i class="fas fa-step-backward"></i>
    </button>


    <audio id="audio-player" controls style="flex-grow: 1; margin: 0 10px;" controlsList="nodownload">
        <!-- 音频源会通过 JavaScript 动态更新 -->
        <source id="audio-source" src="" type="audio/mpeg">
    </audio>

    <!-- 当前播放歌曲标题 -->
    <a id="current-song-title" href="#" onclick="playCurSong(currentSongId)"
        style="flex-shrink: 0; margin: 0 10px; text-decoration: none; color: inherit;">
        当前歌曲标题
    </a>


    <!-- 下一首按钮 -->
    <button id="next-button" onclick="playNextSong()" class="player-button"
        style="padding: 10px; font-size: 16px; cursor: pointer;">
        <i class="fas fa-step-forward"></i>
    </button>

    <!-- 播放模式按钮 -->
    <div class="play-mode-buttons" style="display: flex; align-items: center; gap: 5px; margin-left: 10px;">
        <button id="play-mode-random" onclick="changePlayMode('random')" title="随机播放"
            style="padding: 10px; font-size: 16px; cursor: pointer;">
            <i class="fas fa-random"></i>
        </button>
        <button id="play-mode-sequential" onclick="changePlayMode('sequential')" title="顺序播放"
            style="padding: 10px; font-size: 16px; cursor: pointer;">
            <i class="fas fa-list"></i>
        </button>
        <button id="play-mode-repeat" onclick="changePlayMode('repeat')" title="单曲循环"
            style="padding: 10px; font-size: 16px; cursor: pointer;">
            <i class="fas fa-redo"></i>
        </button>
    </div>
</div>


<script>
    var player = document.getElementById("player");
    var currentSongTitle = document.getElementById("current-song-title");
    var previousButton = document.getElementById("previous-button");
    var playPauseButton = document.getElementById("play-pause-button");
    var nextButton = document.getElementById("next-button");
    var playModeSelect = document.getElementById("play-mode");
    var playMode = "random"; // 默认播放模式为随机播放
    var countdownElement = document.getElementById("countdown");
    var songs = JSON.parse('{{ songs_json  | safe }}');  // 用适当的值初始化 songs 变量
    // 初始化音频元素对象
    var currentlyPlayingSong = null;
    var currentSong = JSON.parse('{{ current_song_json| safe}}');
    var currentSongId = null;
    var playButton = null;
    // 用于存储所有音频实例的对象
    var audioElements = {};
    var songs = JSON.parse('{{ songs_json|escapejs }}');  // 获取所有歌曲信息
    var currentSongIndex = 0;  // 初始化为第一首歌
    // 页面加载后，初始化播放器
    var audioPlayer = document.getElementById('audio-player'); // 音频播放器

    window.onload = function () {
        loadCurrentSong();
    };

    // 加载当前歌曲信息并播放
    function loadCurrentSong() {
        if (songs.length > 0) {  // 确保歌曲列表不为空
            var currentSong = songs[currentSongIndex];
            var audioSource = document.getElementById('audio-source');
            audioSource.src = currentSong.audio_file;

            currentSongId = currentSong['song_id'];
            currentSongTitle = currentSong['song_title'];
            console.log("currentSongId:", currentSongId);
            // 更新当前播放歌曲标题
            var songTitleElement = document.getElementById('current-song-title');
            songTitleElement.textContent = currentSongTitle;
            songTitleElement.href = "{% url 'play_online_song' song_id=0 %}".replace('0', currentSongId);

            // 重新加载音频
            audioPlayer.load();
            audioPlayer.play();
            // 添加 ended 事件监听器
            audioPlayer.removeEventListener('ended', playNextSong); // 移除旧的监听器
            audioPlayer.addEventListener('ended', playNextSong);
        } else {
            console.error("歌曲列表为空，无法加载和播放歌曲。");
        }
    }


    function playCurSong(songId) {
        // 获取当前的过滤条件
        var params = new URLSearchParams(window.location.search);  // 获取当前页面的所有查询参数

        // 生成播放页面的 URL
        var playUrl = "{% url 'play_online_song' song_id=0 %}".replace('0', songId);

        // 将当前的查询参数添加到播放页面的 URL
        if (params.toString()) {
            playUrl += '?' + params.toString();  // 如果存在查询参数，添加到链接后
        }

        console.log("跳转链接:", playUrl);  // 控制台输出调试
        window.location.href = playUrl;  // 跳转到生成的链接
    }
    // 播放上一首歌曲
    function playPreviousSong() {
        currentSongIndex = (currentSongIndex - 1 + songs.length) % songs.length;
        loadCurrentSong();
    }

    // 播放下一首歌曲
    function playNextSong() {
        if (playMode === "sequential") {
            currentSongIndex = (currentSongIndex + 1) % songs.length;
        } else if (playMode === "random") {
            currentSongIndex = Math.floor(Math.random() * songs.length);
        } else if (playMode === "repeat") {
            currentSongIndex = currentSongIndex;
        }
        loadCurrentSong();
    }

    // 播放模式切换
    function changePlayMode(mode) {
        playMode = mode;
        console.log("切换播放模式:", playMode);
        updatePlayModeButton();
    }

    function updatePlayModeButton() {
        // 更新播放模式按钮的显示
        var buttons = document.querySelectorAll('.play-mode-buttons button');
        buttons.forEach(function (button) {
            if (button.id === `play-mode-${playMode}`) {
                button.classList.add('active');
            } else {
                button.classList.remove('active');
            }
        });
    }


    function addToFavorite(songId) {
        // 发送AJAX请求将歌曲添加到“favorite”列表
        $.ajax({
            url: "{% url 'add_to_favorite' %}",
            method: "POST",
            data: {
                songId: songId,
                csrfmiddlewaretoken: "{{ csrf_token }}",
            },
            success: function (response) {
                // 显示弹窗
                var alertBox = document.getElementById("favorite-alert");
                alertBox.style.display = "block";

                // 1秒后隐藏弹窗
                setTimeout(function () {
                    alertBox.style.display = "none";
                }, 1000);

                console.log("歌曲已添加到favorite列表");
            },
            error: function (xhr, errmsg, err) {
                // 错误处理逻辑
                alert("添加歌曲到收藏列表时出错，请稍后重试。");
                console.log("添加到favorite列表时出错");
            }
        });
    }

</script>

{% endblock %}